<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Student</title>

    <!-- Website icon -->
    <link rel="icon" href="{{url_for('static',filename='images/U.svg')}}">

    <!-- Core CSS files -->
    <link rel="stylesheet" href="{{url_for('static',filename='vendors/css/vendor.bundle.base.css')}}">

    <!-- Page-specific plugin CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='vendors/ti-icons/css/themify-icons.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='vendors/select2/select2.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='vendors/feather/feather.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/vertical-layout-light/style.css')}}">

    <!-- JS files -->
    <script type="text/javascript" src="{{url_for('static',filename='vendors/js/vendor.bundle.base.js')}}"></script>

</head>

<body>
    <div class="container-scroller ">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex ">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <div class="navbar-brand brand-logo mr-5"><img src="static/images/logo1d.svg" class="mr-2" alt="logo" />
                </div>
                <div class="navbar-brand brand-logo-mini"><img src="static/images/U.svg" alt="logo" /></div>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">

                <div class="dropdown" style="margin-right: 2.5em; ">
                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuSizeButton3"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Student
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuSizeButton3">
                        <li> {% for row in rows %}

                            <p style="border-bottom: 1px solid;"> {{row["email"]}}</p>

                            {% endfor %}
                        </li>
                        <a class="dropdown-item" href="{{url_for('login')}}">Log out</a>
                    </div>
                </div>
            </div>
        </nav>


        <div class="container-fluid page-body-wrapper w-100 ">
            <div class="content-wrapper" style="min-height: inherit;">
                <div class="container">
                    <div class="row mt-5">
                        <div class="col-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Post Job</h4>
                                    <p class="card-description">
                                        Fill out this form  to search for a Part Time job
                                    </p>
                                    <form class="forms-sample">
                                        <div class="form-group"> <!-- Name -->
                                            <label for="studentName">Name:
                                            </label>
                                            <input type="text" class="form-control custom-input" id="name" value="name" readonly>
                                        </div>

                                        <div class="form-group"> <!-- Languages -->
                                            <label>Languages:</label>
                                            <select class="js-example-basic-multiple w-100" multiple="multiple"
                                                required>
                                                <option value="Arabic">Arabic</option>
                                                <option value="English">English</option>
                                            </select>
                                        </div>

                                        <div class="form-group"> <!-- Major -->
                                            <label>Required Major:</label>
                                            <select class="js-example-basic-single w-100" required>
                                                <option value="" disabled selected hidden>Select a Major</option>
                                                <option value="ComputerScience">Computer Science</option>
                                                <option value="ArtificialIntelligence">Artificial Intelligence</option>
                                                <option value="DataScience">Data Science</option>
                                                <option value="CyberSecurity">Cyber Security</option>
                                                <option value="SoftwareEngineering">Software Engineering</option>
                                                <option value="NetworkEngineering">Network Engineering</option>
                                            </select>
                                        </div>

                                        <div class="form-group"> <!-- GPA -->
                                            <label>GPA:</label>
                                            <select class="js-example-basic-single w-100">
                                                <option value="" disabled selected>Enter Your GPA</option>
                                                <option value="5.0">5.0</option>
                                                <option value="4.0">4.0</option>
                                                <option value="3.0">3.0</option>
                                                <option value="2.0">2.0</option>
                                                <option value="1.0">1.0</option>
                                                <option value="0.0">0.0</option>
                                            </select>
                                        </div>

                                        <div class="form-group"> <!-- Skills -->
                                            <label>Skills:</label>
                                            <select class="js-example-basic-multiple w-100" multiple="multiple" required>
                                                <option value="Programming">Programming</option>
                                                <option value="WebDevelopment">Web Development</option>
                                                <option value="DatabaseManagement">Database Management</option>
                                                <option value="dataScience">Data science</option>
                                                <option value="graphicDesign">Graphic design</option>
                                                <option value="writingContests">Writing contests</option>
                                                <option value="Communication">Communication</option>
                                                <option value="teamwork">Team work</option>
                                                <option value="TimeManagement">Time Management</option>
                                                <option value="Adaptability">Adaptability</option>
                                            </select>
                                        </div>

                                        <div class="form-group"> <!-- Availability -->
                                            <label for="exampleInputHours" class="col-sm-3 col-form-label">Availability:</label>
                                            <div class="availability-container">
                                                <div class="day" style="margin-left: 20px;">
                                                    <p> Please choose the days you are available and the corresponding times</p>
                                                </div>
                                                <div class="day">
                                                    <label for="sunday">Sundjay:</label>
                                                    <input type="checkbox" id="sunday" name="availability" value="Sunday">
                                                    <input type="text" class="time-pickable" placeholder="Start Time" 
                                                        style="border: 1px solid rgb(207, 212, 217);  border-radius: 4px;" readonly>
                                                    <input type="text" class="time-pickable" placeholder="End Time" 
                                                        style="border: 1px solid rgb(207, 212, 217);  border-radius: 4px;" readonly>

                                                </div>
                                                <div class="day">
                                                    <label for="monday">Monday:</label>
                                                    <input type="checkbox" id="monday" name="availability" value="Monday" onchange="toggleTimeInputs('monday')">
                                                    <input type="time" id="monday-start" name="monday-start" placeholder="Start Time" disabled>
                                                    <input type="time" id="monday-end" name="monday-end" placeholder="End Time" disabled>
                                                </div>
                                                <div class="day">
                                                    <label for="tuesday">Tuesday:</label>
                                                    <input type="checkbox" id="tuesday" name="availability" value="Tuesday" onchange="toggleTimeInputs('tuesday')">
                                                    <input type="time" id="tuesday-start" name="tuesday-start" placeholder="Start Time" disabled>
                                                    <input type="time" id="tuesday-end" name="tuesday-end" placeholder="End Time" disabled>
                                                </div>
                                                <div class="day">
                                                    <label for="wednesday">Wednesday:</label>
                                                    <input type="checkbox" id="wednesday" name="availability" value="Wednesday" onchange="toggleTimeInputs('wednesday')">
                                                    <input type="time" id="wednesday-start" name="wednesday-start" placeholder="Start Time" disabled>
                                                    <input type="time" id="wednesday-end" name="wednesday-end" placeholder="End Time" disabled>
                                                </div>
                                                <div class="day">
                                                    <label for="thursday">Thursday:</label>
                                                    <input type="checkbox" id="thursday" name="availability" value="Thursday" onchange="toggleTimeInputs('thursday')">
                                                    <input type="time" id="thursday-start" name="thursday-start" placeholder="Start Time" disabled>
                                                    <input type="time" id="thursday-end" name="thursday-end" placeholder="End Time" disabled>
                                                </div>
                                                  
                                            </div>
                                            
                                        </div>

                                        <div class="form-group"> <!-- Experience -->
                                            <label>Do you have previous work experience?</label>
                                            <select class="js-example-basic-single w-100" required>
                                                <option value="" disabled selected hidden>Choose One</option>
                                                <option value="ComputerScience">Yes</option>
                                                <option value="ArtificialIntelligence">No</option>
                                            </select>
                                        </div>
                                        

                                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                        <button class="btn btn-light">Cancel</button>
                                    </form>
                                </div>
                            </div>
                        </div>


                    </div>




                </div>
            </div>

        </div>
    </div>


</body>
<!-- Core JS files -->
<script type="text/javascript" src="{{url_for('static',filename='vendors/js/vendor.bundle.base.js')}}"></script>


<!-- Page-specific plugin JS -->
<script src="../../static/typeahead.js/typeahead.bundle.min.js"></script>
<script src="../../static/vendors/select2/select2.min.js"></script>

<!-- Custom JS for this page -->
<script src="../../static/js/file-upload.js"></script>
<script src="../../static/js/typeahead.js"></script>
<script src="../../static/js/select2.js"></script>

</html>

<script>
    function toggleTimeInputs(day) {
      const checkbox = document.getElementById(day);
      const startTimeInput = document.getElementById(day + '-start');
      const endTimeInput = document.getElementById(day + '-end');
      
      startTimeInput.disabled = !checkbox.checked;
      endTimeInput.disabled = !checkbox.checked;
    }
</script>
<script>

    function activate() {
        document.head.insertAdjacentHTML("beforeend", `
            <style>
                .time-picker {
                    position: absolute;
                    display: inline-block;
                    padding: 10px;
                    background: #eeeeee;
                    border-radius: 6px;
                }
    
                .time-picker__select {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    outline: none;
                    text-align: center;
                    border: 1px solid #dddddd;
                    border-radius: 6px;
                    padding: 6px 10px;
                    background: #ffffff;
                    cursor: pointer;
                    font-family: 'Heebo', sans-serif;
                }
            </style>
        `);
    
        document.querySelectorAll(".time-pickable").forEach(timePickable => {
            let activePicker = null;
    
            timePickable.addEventListener("focus", () => {
                if (activePicker) return;
    
                activePicker = show(timePickable);
    
                const onClickAway = ({ target }) => {
                    if (
                        target === activePicker
                        || target === timePickable
                        || activePicker.contains(target)
                    ) {
                        return;
                    }
    
                    document.removeEventListener("mousedown", onClickAway);
                    document.body.removeChild(activePicker);
                    activePicker = null;
                };
    
                document.addEventListener("mousedown", onClickAway);
            });
        });
    }
    
    function show(timePickable) {
        const picker = buildPicker(timePickable);
        const { bottom: top, left } = timePickable.getBoundingClientRect();
    
        picker.style.top = `${top}px`;
        picker.style.left = `${left}px`;
    
        document.body.appendChild(picker);
    
        return picker;
    }
    
    function buildPicker(timePickable) {
        const picker = document.createElement("div");
        const hourOptions = [8, 9, 10, 11, 12, 13, 14, 15, 16, 17].map(numberToOption);
        const minuteOptions = [0, 10, 20, 30, 40, 50].map(numberToOption);
    
        
    
        picker.classList.add("time-picker");
        picker.innerHTML = `
            <select class="time-picker__select">
                ${hourOptions.join("")}
            </select>
            :
            <select class="time-picker__select">
                ${minuteOptions.join("")}
            </select>
        `;
    
        const selects = getSelectsFromPicker(picker);
    
        selects.hour.addEventListener("change", () => timePickable.value = getTimeStringFromPicker(picker));
        selects.minute.addEventListener("change", () => timePickable.value = getTimeStringFromPicker(picker));
    
        if (timePickable.value) {
            const { hour, minute } = getTimePartsFromPickable(timePickable);
    
            selects.hour.value = hour;
            selects.minute.value = minute;
        }
    
        return picker;
    }
    
    function getTimePartsFromPickable(timePickable) {
        const pattern = /^(\d+):(\d+) $/;
        const [hour, minute] = Array.from(timePickable.value.match(pattern)).splice(1);
    
        return {
            hour,
            minute
        };
    }
    
    function getSelectsFromPicker(timePicker) {
        const [hour, minute] = timePicker.querySelectorAll(".time-picker__select");
    
        return {
            hour,
            minute
        };
    }
    
    function getTimeStringFromPicker(timePicker) {
        const selects = getSelectsFromPicker(timePicker);
    
        return `${selects.hour.value}:${selects.minute.value} `;
    }
    
    function numberToOption(number) {
        const padded = number.toString().padStart(2, "0");
    
        return `<option value="${padded}">${padded}</option>`;
    }
    
    activate();
    </script>
    