<!DOCTYPE html>
<html>
<head>
    <title>Job Recommendations</title>
</head>
<body>
    <h1>Recommendations for the job {{ job_id }}</h1>
    
    <ul>
        {% for recommendation in recommendations %}
        <li>
            <p>Major: {{ recommendation['seeker'][0] }}</p>
            <p>GPA: {{ recommendation['seeker'][1] }}</p>
            <p>Skills: {{ recommendation['seeker'][2] }}</p>
            <p>Score: {{ recommendation['score'] }}</p>
        </li>
        {% endfor %}
    </ul>
</body>
</html>